<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42541818532-ntliicunqju7qojn4cmq6l846435eov3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42541818532-ntliicunqju7qojn4cmq6l846435eov3</string>
	<key>API_KEY</key>
	<string>AIzaSyCLVYBVA3PiKwlBSDPqi8C_xl56jOxaFB0</string>
	<key>GCM_SENDER_ID</key>
	<string>42541818532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devman.cloneapp.bamtolMarketApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-project-40138</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-project-40138.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42541818532:ios:e56647bb2bb1f7e4cd7c31</string>
</dict>
</plist>